@charset "utf-8";
/* CSS Document */

/*  #a31f35   */

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');

body { background: #fafafa; font-family: 'Arimo', sans-serif; cursor: default;}

body#mailing { background: #a31f35 ; color: #fff; text-align: center; padding-top: 20vh;}

a , button { outline: none !important;}

a.btn-more { font-size: 13px; color: #a31f35; border: solid 1px #a31f35 ; padding: 8px 15px; }
a.btn-more:hover { color: #fff; border: solid 1px #a31f35 ;  background: #a31f35 ; text-decoration: none; }

.container { width: 100%; max-width: 1100px;}

header { position: absolute; float: left; width: 100%; padding-top: 0px; background: url(../img/header.png) repeat-x; z-index: 10}
header .logo { background: #a31f35; width: 20%; height: 114px; position: relative; float: left; line-height: 114px; text-align: center;}
header .logo img { width: 80%;}
header nav { width: 80%; position: relative; float: left; height: 114px; background: #fff;}
header nav .phone { line-height: 53px; border-bottom: solid 1px #f2f2f2; text-align: right; padding-right: 25px; font-size: 14px; color: #353232;}
header nav .phone a { font-weight: bold; color: #a31f35; font-size: 16px; padding-left: 10px}
header nav .phone .youtube { margin-left: 20px;}
header nav .phone .youtube img { width: 22px;margin-top: -2px;}
header nav ul { padding:0 0 0 45px; margin: 0; width: 100%;}
header nav ul li {display: inline; list-style: none;}
header nav ul li a { font-size: 12px; font-weight: bold; text-transform: uppercase; color: #3d434f; display: block; position: relative; float: left; text-align: center; line-height: 60px; padding: 0 15px}
header nav ul li a i { margin-left: 10px;}
header nav ul li a:hover { text-decoration: none; color:#a31f35 }

header nav ul li .subnavy { display: none}
header nav ul li:hover .subnavy {padding: 0;position: absolute;display: block;background: #f8f8f8;margin: 0 0 0 -45px;	padding: 25px 50px;top: 114px; width: 100%;}
header nav ul li .subnavy a {display:block;padding: 10px 0;line-height: normal;text-transform: none;position: relative;clear: both;width: 100%;text-align: left;font-size: 14px;   font-weight: normal;}
header nav ul li .subnavy a:hover { text-decoration: underline;}





.main { background: #e8ecec; height: 500px;}
.main .container { padding-top: 300px;}
.main h1 { font-weight: bold; color: #a31f35}
.main h1 small { display: block; color: #565d66; font-size: 18px;}
#Home .main { height: auto;}
#Home .main h1 { font-weight: bold; color: #a31f35; font-size: 30px; margin-bottom: 40px;}
#Home .main h1 small { font-size: 30px; font-weight: bold; color: #7fb491}

#Home .main .item { height: 600px;}

#Home .logos h2 { font-weight: bold; text-transform: uppercase; font-size: 12px; border-bottom: solid 1px #f1f1f1; padding-bottom: 10px; margin-bottom: 10px; color: #999}


#Tratamientos .main {background:#630718 ; background-size: cover; height: auto; margin-bottom: 50px;}
#Tratamientos .main .container { padding-top: 200px;}
#Tratamientos .main h1 { font-weight: bold; color: #fff}
#Tratamientos .main h1 small { display: block; color: #fff; font-size: 18px; opacity: 0.6}
#Tratamientos .main .video { padding: 0 0 0 0; margin-bottom: -50px;box-shadow: 0px 41px 62px 0px rgba(0, 0, 0, 0.32);}






.content { padding: 100px 0;font-size: 15px; color: #565d66}

.btn {height: 60px;font-size: 15px;line-height: 60px;border-radius: 0; box-shadow: none !important; border: none; color:#333436; font-weight: bold;padding: 0 40px; }
.btn i { margin-left: 15px;transition: all 0.15s ease-in-out;}
.btn:hover { color: #000}
.btn:hover i { margin-left: 20px;}
.btn-default , .btn-default:hover  {color:#fff; background: #a31f35;padding: 0 60px;  }


.bloque { padding: 120px 0; background: #e3e3e2; margin: 0;}


p { margin-bottom: 20px;}
p strong { color: #333436}
p span , li span { color: #a31f35}
p.big { font-size: 17px;}

quote { font-size: 24px;color: #a31f35; display: block; padding: 50px 0;}

hr { margin: 40px 0;}

.content ul { padding:0; margin: 0 0 40px 0}
.content ul li { display: block; margin-bottom: 20px; background: url(../img/li.svg) no-repeat 0 6px; padding: 0 0 0 30px}

.content ol { padding:0; margin: 0 0 40px 0}
.content ol li { display: block; margin-bottom: 10px;  padding: 0px}

.content h1 ,.content h2 ,.content h3 { display: block; padding: 0; margin: 0;}
.content h1 { font-size: 36px; color: #a31f35; margin-bottom: 30px;}
.content h2 { font-size: 32px; color: #333436; margin-bottom: 30px;}
.content h3 { font-size: 20px; font-weight: bold;color: #a31f35; margin-bottom: 30px;}
.content h4 { font-size: 18px; font-weight: bold;color: #a31f35; margin-bottom: 20px;}
.content h5 { font-size: 16px; font-weight: bold;color: #a31f35; margin-bottom: 20px; display: block; clear: both}


.content .form-cont { background: #fff; padding:50px 35px;box-shadow: -23.846px 38.162px 81.78px 5.22px rgba(30, 39, 37, 0.21);}
.form-control { border-radius: 0; box-shadow: inset 0 -2px 0 #f2f2f2; border: solid 1px #c6d2d2; height: 50px; margin-bottom: 20px;}
.form-cont span { display: block; margin-bottom: 10px; font-weight: bold; font-size: 14px;}

textarea.form-control { height: 150px;}

.map { width: 100%; height: 500px;}


.staff { background: url(../img/bg/staff.jpg) no-repeat top right; border-top: solid 1px #fff}
.staff a { display: block; margin-bottom: 30px; font-size: 12px; color: #666}
.staff a span { display: block; margin-bottom: 10px; font-size: 15px; color: #484848; font-weight: bold;}
.staff a div { width: 30px; height: 1px; background: #d2d2d2; display: block;transition: all 0.2s ease-in-out; margin-bottom: 10px;}
.staff a:hover {color: #8c2437; text-decoration: none;}
.staff a:hover div { width: 60px; background: #8c2437}
.staff a img { width: 100%; max-width: 236px; margin-bottom: 20px;-webkit-filter: grayscale(100%); filter: grayscale(100%);transition: all 0.2s ease-in-out;box-shadow: -13.842px 18.369px 30.08px 1.92px rgba(186, 185, 185, 0.3);}
.staff a:hover img { -webkit-filter: grayscale(0%); filter: grayscale(0%);box-shadow: -13.842px 18.369px 30.08px 1.92px rgba(186, 185, 185, 0.5);}

a.certificado {-webkit-filter: grayscale(100%); filter: grayscale(100%);transition: all 0.2s ease-in-out; opacity: 0.8}
a.certificado:hover {-webkit-filter: grayscale(0%); filter: grayscale(0%); opacity: 1}
a.certificado img { width:100%;}


.submenu {}
.submenu h2 { font-weight: bold; font-size: 16px; color: #8c2437;}
.submenu ul li { background: none; padding: 0; margin-bottom: 10px;}
.submenu ul li a { font-size: 14px; color: #4f5255;}
.submenu ul li.active a { font-weight: bold; color: #111}


.panel-group { background: none;}
.panel-group .panel {margin-bottom: 0;border-radius: 0;border: none;background: none;box-shadow: none;}
.panel-default>.panel-heading {color: #333;background: none;border-color: #ddd;border: none;padding: 0;}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {color: inherit;display: block;padding: 15px 0;font-weight: bold;color: #a31f35;border-bottom: solid 1px #f1f1f1;}
.panel-default>.panel-heading+.panel-collapse>.panel-body {border: none;padding: 30px 0; font-size: 15px;}



.call-to {box-shadow: -1.536px 43.973px 55.46px 3.54px rgba(0, 0, 0, 0.11); background: #e8e7ea url(../img/bg/callto.jpg) no-repeat top center; padding: 170px 0 0 0; margin-bottom: 40px;}
.call-to .cont { padding: 20px; text-align: center;}
.call-to .cont h5 { display: block; font-weight: bold; border-bottom: solid 1px rgba(0,0,0,0.04); color: #a31f35 ; font-size: 16px; padding-bottom: 10px; margin-bottom: 10px;}
.call-to .cont a { display: block; border-bottom: solid 1px rgba(0,0,0,0.02); color: #111; line-height: 50px; font-size: 18px;}
.call-to .cont span { display: block; padding-top: 15px; font-size: 13px; font-weight: bold; opacity: 0.7}




footer { background: #a31f35;}
footer .top { background: #8e1426; color: #fff; line-height: 80px;}
footer .top span { margin-right: 40px;}
footer .bottom { padding: 50px 0 10px 0;}
footer .bottom h5 { font-size: 15px; font-weight: bold; color: #fff; display: block; padding: 0; margin: 0 0 20px 0; letter-spacing: 1px;}
footer .bottom ul { padding: 0; margin: 0 0 40px 0;}
footer .bottom ul li  { display: block; margin-bottom: 3px; list-style: none;}
footer .bottom ul li a { font-size: 11px; color: #fcbfca}
footer .bottom ul li a:hover { color: #fff;}
footer a.youtube img { width: 100%; max-width: 120px;}

.accesos { padding: 25px 0;}
.accesos img { width: 100%;}


#Testimoniales { padding: 150px 0;background: #efefef;background: -moz-linear-gradient(45deg, #efefef 0%, #fdfdfd 100%);background: -webkit-linear-gradient(45deg, #efefef 0%,#fdfdfd 100%);background: linear-gradient(45deg, #efefef 0%,#fdfdfd 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fdfdfd',GradientType=1 ); text-align: center;}

#Testimoniales .item p { font-size: 16px; font-style: italic; color: #666; margin-bottom: 50px;}
#Testimoniales .item .paciente { display: block; background: url(../img/line-testimonial.png) no-repeat top center; padding-top: 20px;}
#Testimoniales .item .paciente h3 { color: #a31f35; font-weight: bold; font-size: 18px; display: block;}
#Testimoniales .item .paciente h3 small { display: block; font-size: 15px; color: #3e3e3e; font-weight: bold; padding: 10px 0}
#Testimoniales .carousel-indicators li {display: inline-block; width: 8px; height: 8px; margin: 3px; background: #cacaca;border: none;border-radius: 10px;}
#Testimoniales .carousel-indicators li.active {display: inline-block; width: 8px; height: 8px; margin: 3px; background: #a31f35;border: none;border-radius: 10px;}
#Testimoniales .carousel-indicators { bottom: 50px;}

.chat-bubble { position: fixed; z-index: 100; right: 5%; bottom: 50px;}
.chat-bubble .avatar { display: block; width: 80px; height: 80px; border-radius: 99px; overflow: hidden; border: solid 3px #fff;box-shadow: 0px 30px 62px 0px rgba(4, 4, 4, 0.3),inset 2.007px 2.229px 7px 0px rgba(0, 0, 0, 0.47);}
.chat-bubble .avatar img { width: 100%;}
.chat-bubble span { display: block; width: 15px; height: 15px; background:#95b016; position: absolute; right: 10px; bottom: 0; border-radius: 99px; border: solid 2px #fff; z-index: 1}
.chat-bubble .message { display: block;position: absolute;width: 200px;background: #fff;margin: 20px 0 0 -210px;border-radius: 3px;padding: 15px;box-shadow: 4px 10px 26px rgba(0,0,0,0.2); color: #444;}




.modalcv { background: rgba(213,213,213,0.8)}
.modalcv .modal-content { border: none; box-shadow: none; border-radius: 0 }
.modalcv .modal-body { padding: 0; }
.modalcv .cv-header { background: #f3f3f3;}
.modalcv .cv-header .cv-picture { float: left; margin-right: 30px;}
.modalcv .cv-header .cv-intro  { padding: 30px;}
.modalcv .cv-header .cv-intro h1 { text-transform: uppercase; font-weight: bold; color: #bcbcbc; display:block; padding: 0; margin: 0 0 10px 0; font-size: 12px;}
.modalcv .cv-header .cv-intro h2 { font-size: 20px; font-weight: bold; color: #8c2437}
.modalcv .cv-header .cv-intro h3 { font-size: 16px; color: #3c3c3c; display: block; margin:0; padding: 0;}
.modalcv .cv-header .cv-intro hr { margin: 20px 0;}
.modalcv .cv-header .cv-intro p { color: #949494; font-size: 13px; line-height: 20px;}
.modalcv .cv-header .cv-intro strong { color: #949494; }

.modalcv .cv-body{  padding: 70px 50px;}
.modalcv .cv-body p { font-size: 15px;}
.modalcv .cv-body h4 { font-weight: bold; text-transform: uppercase; display: block; padding: 0; margin: 0 0 30px 0; color: #a31f35}

.modalcv .close{    display: block;
    width: 50px;
    height: 50px;
    background: #a31f35;
    z-index: 10000;
    position: absolute;
    right: 0;
    opacity: 1;
    line-height: 45px;
    text-align: center;
    color: #fff;
    text-shadow: none;
    font-size: 20px;}





.animation {transition: all 0.3s ease-in-out;}

.avisoResidencia{
	width: 100%;
	height: 100px;
	background-color: #a31f35;
	padding-left: 10%;
	padding-top: 11%;
	color: #fff;
}
.avisoResidencia:hover{
	color: #fff;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.3);
	transition: 0.2s;
}


/*   fondos e imagenes   */

.logos { text-align: center; padding: 100px 0;}
.logos span { background: #fafafa; padding: 20px 40px}
.logos span img {}
.logos hr { margin-top: -20px}

.pictures img { width: 100%;}

.img-shadow {box-shadow: -33.941px 33.941px 76.14px 4.86px rgba(186, 185, 185, 0.8);}

.bg-calidad {background: url(../img/bg/politicas-calidad.jpg) no-repeat center right;}


.bg02 { background:url(../img/bg/bg02.jpg) no-repeat bottom center; padding: 40px 0 160px 0; margin-bottom: 40px;}
.bg01 { background:#edefed url(../img/bg/bg01.jpg) no-repeat top left; background-size: contain;}
.bg03 { background:#fff url(../img/bg/bg03.jpg) no-repeat center left; background-size: contain;}


.video-tech {box-shadow: 0px 26px 54px 0px rgba(90, 97, 103, 0.94);}





.Advanced p span , .Advanced  li span, .Advanced h2, .Advanced h3 { color: #6da777}



#Pop .modal-content {
    border: none;
    border-radius: 0;
    outline: 0;
    box-shadow: 0 10px 80px rgba(0,0,0,.3);
    max-width: 500px;
}


@media screen and (max-width:990px){

header nav ul { padding: 0 0 0 20px}
header nav ul li a { padding: 0; width: 25%; text-align: center}
header nav ul li a i { margin-left: 5px;}
header nav ul li .subnavy {margin: 0 0 0 -20px !important;padding:20px 10px;}


}


@media screen and (max-width:768px){

	a.btn-menu {float: right;}
	.menu-movil { background: #fff; text-align: center}
	.menu-movil .logo { padding: 40px 20px; background: #a31f35}
	.menu-movil .logo img { width: 120px;}
	.menu-movil ul { padding: 0; margin: 0;}
	.menu-movil ul li a { display: block; padding: 20px; border-bottom: solid 1px #f1f1f1; color: #a31f35 ; font-size: 18px; font-weight: bold;}
	.menu-movil ul a:hover {text-decoration: none; background: #f9f9f9}
	.menu-movil ul li .subnavy { }
	.menu-movil ul li:hover .subnavy { display: block;}
	.menu-movil ul li .menu__collapsible a { font-weight: normal; color: #666; font-size: 14px; border-bottom:dotted 1px #f9f9f9; padding:15px 20px;}
	.menu-movil ul li .subnavy a:last-child { border-bottom: solid 1px #f1f1f1}
	.menu-movil {}



header {background:none;}
header .logo { width: 40%;}
header .logo img { width: 70%;}
header nav { width: 60%;}
header nav .phone { padding: 0; text-align: center}



footer .top {line-height: normal; padding: 20px; text-align: center }
footer .top span { margin:0; display: block;padding: 15px 0;}
footer .bottom { padding: 50px 0 10px 0;}
footer .bottom h5 {margin: 0 0 10px 0; }
footer .bottom ul { padding: 0; margin: 0 0 40px 0;}
footer .bottom ul li  { display: block; margin-bottom: 5px; list-style: none;}
footer .bottom ul li a { font-size: 12px; color: #fcbfca}
footer .bottom ul li a:hover { color: #fff;}
footer .col-sm-3 { margin-bottom: 30px;}


.main { background: #e8ecec; height: 300px;}
.main .container { padding-top: 180px;}

#Home .main .item {height: 450px;}
#Home .main .container {padding-top: 170px;}
#Home .main h1 , #Home .main h1 small {font-size: 24px;}

h1 { font-size: 26px;}

.panel-group {margin-bottom: 80px;}
#Testimoniales { padding:50px 0 120px 0;}
.btn-default, .btn-default:hover {  padding: 0 30px;}

	.accesos .col-sm-6 { margin-bottom: 20px;}

.bg02 {background:#dce4e7;padding: 50px 0 50px 0;}
.bg03 img { width: 100%;}
.video-tech { margin-bottom: 20px;}

.content .container .col-sm-8 , .content .container .col-sm-7 { margin-bottom: 100px;}

.modalcv .cv-header .cv-intro {
    padding: 30px;
    display: block;
    clear: both;
}

}


.noticias h1 {
    color: #fff;
}

.noticias .main {
    background-color: #630718;
    height: auto;
}
.noticias .main .container {
    padding-top: 200px;
}
.news-item {
    margin-bottom: 30px;
}
.home .news-item {
    margin-bottom: 30px;
    display: none;
}

.news-item figure {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	right: 80px;
	top:10px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
	
}
.subir{
	position: relative;
	top: -30px;
}
.news-item .row h3{
    font-size: 15px;
	font-weight: bold;
	position: relative;
	left: 10px;
}
.news-item a{
    color:#B1B1B1;
}
.news-item a:hover{
    color:#505050;
}

.home .news-item:nth-child(1),
.news-item:nth-child(2),
.news-item:nth-child(3){
    display:block!important;
}

.content .graduado{
	font-size: 10pt !important;
	font-family: "Tahoma","sans-serif"!important;
	color:#1f497d!important;
	font-weight: bold!important;
}
.content .graduadoli{
	list-style-type: none !important;
	display: block;
}
.content .graduadop{
	font-size: 10pt !important;
	line-height: 115%;
	font-family: arial,sans-serif !important;
	color: #222222 !important;
}

@media screen and (max-width:480px){
	
	.news-item figure {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	right: 0px;
	top: 0px;
	
}
	.subir{
	position: relative;
	top: 0px;
}
}